
.test-2{
    margin-top: 60px;
    background-color: #e2e8f0;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
}

.test-1{
    background-color: #e2e8f0;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
}